<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/signup.css">

    <title>Document</title>

</head>

<body>
    <form action="/user/add" method="post">
        <input type="text" placeholder="username" name="username" required>
        <input type="email" placeholder="email" name="email" required>
        <input type="password" placeholder="password" name="password" required>
        <input type="number" placeholder="number" name="number" required>
        <input type="submit">
    </form>
    
</body>

</html>